
/* error

에러 화면의 큰 구조입니다.

*/


.error-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


