
/* notice

error 화면과 popup 화면에서
정보를 안내하기 위한 용도로 사용되는 공통 스타일입니다.

이미지와 내용은 변경되더라도
레이아웃 및 스타일은 공통으로 가져갑니다.

*/



.notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 264px;
}


.notice_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.notice_text_title{
    color: var(--colorsTorderGray400);
}

.notice_text_accent{
    color: var(--colorsTorderGray800);
}


.notice_text_body{
    color: var(--colorsTorderGray400);
    text-align: center;
    margin: 0px;
}


